name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java-version: [11, 17]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          echo ${{ matrix.java-version }} > .mill-jvm-version
          head build.mill
        shell: bash
      - run: ./mill -i -k __.test
        if: matrix.os != 'windows-latest'
      - run: ./mill.bat -i -k __.jvm.__.test
        if: matrix.os == 'windows-latest'

  check-bin-compat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: ./mill -i -k __.mimaReportBinaryIssues

  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: ./mill -i mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll __.sources
